<article class="ml-auto flexible-article">
  <h1>{{title}}</h1>
  {{#if description}}
    <p>{{description}}</p>
  {{/if}}
  <small>Last modified
    <strong class="text-transparent select-none skeleton" id="timeago">{{then}}</strong>
    ago by
    <em>{{by}}</em></small>
  <hr />
{{{body}}}
</article>
<nav aria-label="Table of Contents" class="sticky flex flex-col h-full gap-2 p-2 mr-auto top-2">
  <h3 class="uppercase select-none">on this page</h3>
  {{#each toc}}
    <a style="--depth: {{this.depth}}" class="hover:link w-fit" href="#{{this.slug}}">{{this.title}}</a>
  {{/each}}
</nav>