<article class="{{#if toc}}ml-auto{{else}}mx-auto{{/if}} flexible-article">
{{> md-header }}
{{{body}}}
</article>
{{#if toc}}
<nav aria-label="Table of Contents" class="sticky flex flex-col h-full max-w-sm gap-2 p-2 mr-auto top-2">
  <h3 class="uppercase select-none">on this page</h3>
  {{#each toc}}
    <a style="--depth: {{this.depth}}" class="transition-all hover:link w-fit hover:opacity-100 opacity-65" href="#{{this.slug}}">{{this.title}}</a>
  {{/each}}
</nav>
{{/if}}