<html lang="en" class="bg-zinc-200">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link href="/css/tw.css" rel="stylesheet" />
    <link href="/css/palenight.css" rel="stylesheet" />
    <script type="module" defer src="/main.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <a id="skip" href="#_top">Skip to content</a>
    <nav aria-label="Navigation" class="flex flex-col gap-2 p-2 border-r-2 border-zinc-300">
      {{#each routes}}
        <a class="hover:underline w-fit" href="{{this.slug}}.html">{{this.title}}</a>
      {{/each}}
    </nav>
    <main class="flex-1 pt-6 pb-6 mb-40">
      <article class="px-4 prose sm:prose-sm md:prose-lg lg:prose-xl">
        <h1>{{title}}</h1>
        {{#if description}}
          <p>{{description}}</p>
        {{/if}}
        <small>Last modified <strong id="timeago">{{diff}}</strong> by <em>{{by}}</em></small>
        <hr />
        {{{body}}}
      </article>
    </main>
    <nav aria-label="Table of Contents" class="p-2 border-l-2 border-zinc-300">
      <ul>
        {{#each toc}}
          <li><a style="--depth: {{this.depth}}" class="hover:underline" href="#{{this.slug}}">{{this.title}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </body>
</html>